sudo: required
dist: trusty
language: c++

branches:
  only:
   - master
   - devel

matrix:
  include:
    - os: linux
      compiler: gcc
      env: SMP_G=1 SMP_M=0 SMP_PROG=mcMd
    - os: linux
      compiler: gcc
      env: SMP_G=1 SMP_M=1 SMP_PROG=ddMd
    - os: linux
      compiler: gcc
      env: SMP_G=1 SMP_M=1 SMP_PROG=mcMdMpi

before_install:
  - if [ "$SMP_M" == "1" ]; then sudo apt-get --yes install openmpi-bin; fi
  - if [ "$SMP_M" == "1" ]; then sudo apt-get --yes install libopenmpi-dev; fi
  - if [ "$SMP_M" == "1" ]; then sudo apt-get --yes install libopenmpi1.6; fi
  - export PYTHONPATH=$PYTHONPATH:$(pwd)/scripts/python
  - export PATH=$PATH:$(pwd)/bin

install:
  - ./setup
  - ./configure -g$SMP_G -a1 -d1 -e1
  - make tools
  - if [ "$SMP_PROG" == "mcMd" ]; then make mcMd; fi
  - if [ "$SMP_PROG" == "ddMd" ]; then make ddMd; fi
  - if [ "$SMP_PROG" == "mcMdMpi" ]; then make mcMd-mpi; fi

script:
  ./.travis.script
