#!/bin/bash -l
#PBS -l walltime=5:00:00,pmem=100mb,nodes=1:ppn=3
#PBS -o zout
#PBS -j oe
#PBS -N testRepX

cd $PBS_O_WORKDIR
module load intel
module load ompi/intel
mpirun -np 3 $HOME/molmcd/branches/evaluators/bin/mcSim_m -e
